/* All website */
body {
  background-color: #333333;
  font-family: Prata !important;
  color: #ffffff !important;
}
h1 {
  color: #ffffff !important;
}
h2{
  color: #929090 !important;
}
/* END All website */

/* Fixed itens */
.dividor{
  background-color: #7B7B7B;
  height: 5px;
  border-radius: 2px;
  width: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.accent{
  background-color: #444A85;
  border-radius: 10px;
  width: 60px;
  height: 16px;
  margin-top: 70px;
}
/* END Fixed itens */


.container .container-welcome {
  margin-top: 140px;
}

.welcome-text{
  font-size: 64px;
}
.section {
  background-color: rgba(129, 129, 129, 0.69) !important;
  padding:30px;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-left: 90px;
  position: relative;
  left: -90px;
}
.btn-primary{
  background-color: transparent;
  color: #C9C9C9;
  border-color: #C9C9C9;
  border-radius: 3px;
  height: 75px;
  width: 260px;
  text-transform: uppercase;
  padding-top: 23.5px;
  margin-right: 70px;
}

@media only screen and (max-width: 480px) {
  .section{
    left: 0px;
  }
}